body{
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background: white;
    width: 100%;
    // font-family: serif;
    position: relative;
}
.container{
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
    min-height: 600px;
}
.main-header{
    text-align: center;
    font-size: 30px;
}
.section{
    margin-bottom: 50px;
}
.section-header{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.page-title{
    font-size: 30px;
}

