.footer{
    background:  lightblue;
    height: 50px;
    line-height: 50px;
    width: 100%;
    .footer-container{
        max-width: 980px;
        margin: 0 auto;
        overflow: hidden;
        padding: 0 20px;
    }
}

.footer-logo{
    float: left;
}

.footer-nav{
    float: right;
    .footer-nav-menu{
        display: flex;
        .footer-nav-menu-item{
            margin-right: 15px;
            .footer-nav-menu-item-link{
                display: block;
                padding: 0 10px;
                &:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}